<!DOCTYPE html>
<html lang="en">
<%- include("./pieces/head.ejs") %>

    <body>
        <div class="home1">
            <h3>ScholarAcademy.com</h3>
            <center>
                <a href="/">HOME </a>
            <a href="/info/about">ABOUT US </a>
        <a href="/info/contact">CONTACT US</a>
        <a href="/info/help">HELP DESK</a>
    </center>
        </div>
        <center>
         <section>
             
            <div class="about-section">
                <h1>About Us Page</h1>
                <p>Some text about who we are and what we do.</p>
                <p>Scholaracademy is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content</p>
              </div>
              
              <h2 style="text-align:center">Our Team</h2>
              <div id="about-container">
                    <div class="container4">
                      <h2>Boniface Kahuro</h2>
                      <p class="title">CEO & Founder</p>
                      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                      <p>boniface@example.com</p>
                      <p><a href="#" class="btnlink">Contact</a></p>
                    </div>
                    
                    <div class="container4">
                      <h2>Grace Kagendo</h2>
                      <p class="title">Art Director</p>
                      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                      <p>grace@example.com</p>
                      <p><a href="#" class="btnlink">Contact</a></p>
                    </div>
               
              
                   
                    <div class="container4">
                      <h2>Solomon M</h2>
                      <p class="title">Designer</p>
                      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                      <p>solomon@example.com</p>
                     <p><a href="#" class="btnlink">Contact</a></p>
                    </div>
                 
              </div>
         </section>     
              
        </center>
        
        <footer>
          <div class="footer">
           <div class="contact-us">
             <h3>CONTACT US:</h3>
             <h5>
              <h5>
                  <a href="#"><%- include('./logo/phone.ejs') %> phone Call+2547777777</a></
                   </h5>
                   <h5>
                      <a href="#"><%- include('./logo/mail.ejs') %> Email scholaracademy@gmail.com</a></
                       </h5>
           </div>
           <div class="about-us">
              <h3>ABOUT US:</h3>
              <p><a href="#">Our services</a></p>
              <p><a href="#">Our customers</a></p>
              <p><a href="#">Our products</a></p>
              <p><a href="#">Our online services</a></ p>
                  
           </div>
           <div class="follow-us">
             <h4>Follow Us:</h4>
             
             <h5>
              <a href="#"><%- include('./logo/facebook.ejs') %> Facebook</a></h5> 
               <h5>
                  <a href="#"><%- include('./logo/twitter.ejs') %> Twitter</a></h5> 
             <h5>
              <a href="#"><%- include('./logo/telegram.ejs') %> Telegram</a></h5> 
             <h5>
              <a href="#"><%- include('./logo/youtube.ejs') %> Youtube</a></h5> 
              
           </div>
          </div>
        
        <hr>
        <center>
         <p id="copy">&copy Copyright 2021. ALL RIGHTS RESERVED</p>
        </center>
        </footer>
    </body>

</html>
