<!DOCTYPE html>
<html lang="en">


<%- include('./pieces/head.ejs') %>

    <body>

<%- include("./pieces/header.ejs")%>
        
        <hr>


        <div class="section">

            <center>

                <!--animatiom div in home page-->

                <div class="quote">
                    <p> Our mission is to dedicate ourself to outstanding programming<br> that empowers our client to excel in their markets <br> , make meaningful conventions with their audiences and improve their productivity</p>
                    <p>Explore More with Scholar Academy Which other couldn't. <br> <b style="color: rgb(55, 241, 55); margin: 5px;">GET Brilliant Solution's</b></p>
                    <p>Take your skills to the next level.</p>
                    <a href="#" id="explore">EXPLORE NOW</a>
                </div>

                <!--promo courses section-->

                <div id="pool">
                    <h1>Enroll To Our Courses</h1>
                    <div id="programs">
                        <div id="pro">
                            <h3>Python</h3>
                            <div class="logo">
                                <%- include('./logo/python.ejs') %>
                            </div>
                            <br>
                            <a href="#">Enroll Now </a></div>
                        <div id="pro">
                            <h3>Java</h3>
                            <div class="logo">
                                <%- include('./logo/java.ejs') %>
                            </div>
                            <br>
                            <a href="#">Enroll Now </a></div>
                        <div id="pro">
                            <h3>CSS 3</h3>
                            <div class="logo">
                                <%- include('./logo/css.ejs') %>
                            </div>
                            <br>
                            <a href="#">Enroll Now </a></div>
                        <div id="pro">
                            <h3>HTML5</h3>
                            <div class="logo">
                                <%- include('./logo/html.ejs') %>
                            </div>>
                            <br>
                            <a href="#">Enroll Now </a></div>
                        <div id="pro">
                            <h3>Kotlin</h3>
                            
                                <br>
                                <a href="#">Enroll Now </a></div>
                        <div id="pro">
                            <h3>C++</h3>
                            <div class="logo">
                                <%- include('./logo/cpp.ejs') %>
                            </div>
                            <br>
                            <a href="#">Enroll Now </a></div>
                        <div id="pro">
                            <h3>JavaScript</h3>
                            <div class="logo">
                                <%- include('./logo/js.ejs') %>
                            </div>
                            <br>
                            <a href="#">Enroll Now </a></div>
                        <div id="pro">
                            <h3>JQuery</h3>
                            <%- include('./logo/JQuery.ejs') %>
                                <br>
                                <a href="#">Enroll Now </a></div>
                        <div id="pro">
                            <h3>Node Js</h3>
                            <div class="logo">
                                <%- include('./logo/nodejs.ejs') %>
                            </div>
                            <br>
                            <a href="#">Enroll Now </a></div>
                        <div id="pro">

                            <h3>SQL</h3>
                            <%- include('./logo/mySql.ejs')%>
                                <br>
                                <a href="#">Enroll Now </a> </div>
                        <div id="pro">
                            <h3>Php</h3>
                            <%- include('./logo/php.ejs') %>
                                <br>
                                <a href="#">Enroll Now </a></div>
                    </div>
                </div>
                <div id="classics">
                    <div id="skills">

                        <!--more site products section-->

                        <h3>Learn The Latest <br> Skills. <br> <i class="fa fa-space-shuttle" aria-hidden="true"></i></h3>
                    </div>
                    <div id="career">
                        <h3>Get Ready For <br> Career. <br> <i class="fa fa-graduation-cap" aria-hidden="true"></i></h3>

                    </div>
                </div>


            </center>
        </div>



        <%- include("./pieces/footer.ejs")%>
          <script>
            var coll = document.getElementsByClassName("collapsible");
          var i;
          
          for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var content = this.nextElementSibling;
              if (content.style.maxHeight){
                content.style.maxHeight = null;
              } else {
                content.style.maxHeight = content.scrollHeight + "px";
              } 
            });
          }
          </script>
    </body>

</html>
