<footer>
            <div class="footer">
             <div class="contact-us">
               <h3>CONTACT US:</h3>
               <h5>
                <h5>
                    <a href="#"><%- include('../logo/phone.ejs') %> phone Call+2547777777</a></
                     </h5>
                     <h5>
                        <a href="#"><%- include('../logo/mail.ejs') %> Email scholaracademy@gmail.com</a></
                         </h5>
             </div>
             <div class="about-us">
                <h3>ABOUT US:</h3>
                
                  <button class="collapsible">Our Service</button>
                  <div class="content">
                    <p>pluto the god of underworld</p>
                  </div>
                  <button class="collapsible">Our Customers</button>
                  <div class="content">
                    <p>bravado system</p>
                    </div>
                  <button class="collapsible">Our Products</button>
                  <div class="content">
                    <p>hello me and you</p>
                  </div>
                  <button class="collapsible">Our Online Srevices</button>
                  <div class="content">
                    <p>proyr</p>
                  </div>   
             
             </div>
             <div class="follow-us">
               <h4>Follow Us:</h4>
               
               <h5>
                <a href="#"><%- include('../logo/facebook.ejs') %> Facebook</a></h5> 
                 <h5>
                    <a href="#"><%- include('../logo/twitter.ejs') %> Twitter</a></h5> 
               <h5>
                <a href="#"><%- include('../logo/telegram.ejs') %> Telegram</a></h5> 
               <h5>
                <a href="#"><%- include('../logo/youtube.ejs') %> Youtube</a></h5> 
                
             </div>
            </div>
          
          <hr>
          <center>
           <p id="copy">&copy Copyright 2021. ALL RIGHTS RESERVED</p>
          </center>
          </footer> 
